# Environment files - KHÔNG PUSH
.env.local
.env.docker
.env.production
.env

# Logs
*.log
logs/

# Build
target/
*.jar
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
*.swp
.DS_Store

# Database
*.sql
init.sql

# Maven
.mvn/
mvnw
mvnw.cmd

# Exclude extra files
*.zip
*.ps1

/claims