services:
  # Service Database
  lunchbot_db:
    image: mysql:8.0
    container_name: mysql_lunchbot
    restart: always
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --default-authentication-plugin=mysql_native_password
      - --skip-character-set-client-handshake
    environment:
      MYSQL_DATABASE: lunchbot_db
      MYSQL_ROOT_PASSWORD: anhtu2003
      MYSQL_CHARSET: utf8mb4
      MYSQL_COLLATION: utf8mb4_unicode_ci
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./my.cnf:/etc/mysql/conf.d/my.cnf:ro
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
    networks:
      - lunchbot_network

  # Service Backend
  lunchbot_be:
    build: .
    container_name: spring_lunchbot
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      lunchbot_db:
        condition: service_healthy
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://lunchbot_db:3306/lunchbot_db?useSSL=false&allowPublicKeyRetrieval=true&useUnicode=true&characterEncoding=UTF-8&connectionCollation=utf8mb4_unicode_ci&serverTimezone=UTC
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=anhtu2003
      - SPRING_MAIL_USERNAME=nguyenduc8197@gmail.com
      - SPRING_MAIL_PASSWORD=emci gyfb odyr awfz
      - JAVA_TOOL_OPTIONS=-Dfile.encoding=UTF-8 -Dsun.jnu.encoding=UTF-8
      - LANG=C.UTF-8
      - LC_ALL=C.UTF-8
    networks:
      - lunchbot_network

  # Service Frontend
  lunchbot_fe:
    build:
      context: ../../Front-end/LunchBot_FE
      dockerfile: Dockerfile
    container_name: nginx_lunchbot
    restart: always
    ports:
      - "80:80"
    depends_on:
      - lunchbot_be
    networks:
      - lunchbot_network

networks:
  lunchbot_network:
    driver: bridge

volumes:
  mysql_data: